$primer-color: #083D77;
$segundo-color: #F95738;
$tercer-color: #F4D35E;
$cuarto-color: #EE964B;
$quinto-color: #EDC18F;
$sexto-color: #EBEBD3;
$septimo-color: #000000;
$octavo-color: #ffffff;
$noveno-color: #dddddd;