#grilla {

    h3 {
        font-weight: bold;
        filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.5));
        font-size: 45px;
    }

    p {
        font-size: 20px;
    }

    @include grid();

    .info-conatiner {
        display: flex;
        flex-direction: row;
        align-items: center;

        .img_history {
            height: 400px;
            filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.5));
        }

    }

    .history_content,
    .vision_content,
    .mision_content {
        width: 100%;
        height: auto;
        padding: 30px 30px;

        p {
            text-align: justify;
        }
    }

    .nuestrovalor {
        background-color: $quinto-color;
        padding-bottom: 20px;
        border-radius: 6px;
        filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.5));

        .imgvalor {

            padding: 0 30px;
            margin-top: 20px;
            filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.5));
        }

        .valores {

            h3 {
                text-align: center;
                padding: 30px;
            }

            ul {
                list-style-image: url(/assets/img/vineta.png);
                padding-left: 45px;

                li {
                    margin-bottom: 10px;
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width:1350px) {
    #grilla {
        display: flex;
        flex-direction: column;

        .img_history {
            height: auto;
        }
    }

    .nuestrovalor {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }
}

@media screen and (max-width:540px) {
    .info-conatiner {

        &:nth-child(odd) {
            flex-direction: column-reverse !important;

        }

        &:nth-child(even) {
            flex-direction: column !important;

        }

        .img_history {
            width: 100% !important;
            height: auto !important;
        }
    }

    .nuestrovalor {
        flex-direction: column-reverse;

        .imgvalor {
            width: 100%;
        }
    }
}

